*{
    margin: 0;
    border:0;
    box-sizing:border-box;

   
 
}

body{
     font-size: 18px;
    font-family: Helvetica;
    width: 800px;
    border:solid;
    border-color:steelblue;
    text-align:left;
    margin:auto;
    box-shadow: 3px, 3px, 4px, 4px, black;
    padding-left:2em;
    padding-right:2em;
    

}

p{
    padding-bottom:2em;

}
   a {
 font-weight: bold;
 color:maroon; 

}

a:hover, a:focus{
    color:steelblue;
}



img{
    float: left;
    margin-right:2em;
    margin-bottom:2em;
}

head{
    background-image:linear-gradient( bottom, white 100%, lightsteelblue 100%);
}





h1{
    font-size: 48px;
    font-style:italic;
    color:steelblue;
    padding-bottom:1.5;
}

h2{
    font-size:32px;
    padding-bottom:.5em;
}

aside{

    h2{
        color: maroon;
    }
    a{
        color:steelblue;
    }
    a:hover, a:focus{
        color:maroon;
    }

    
    li{
        line-height: 1.5px;
    }
}

footer{
    text-align: center;
    font-size:12px;
    color:white;
    background-color:steelblue;

}