*{
    font-size: 18px;
    font-family: Helvetica;
    
 
}

   a {
 font-weight: bold;
 color:maroon; 
}

a:hover, a:focus{
    color:steelblue;
}


img{
    float: left;
    margin-right:2em;
}

head{
    clear: left;
}





h1{
    font-size: 48px;
    font-style:italic;
    color:steelblue;
}

h2{
    font-size:32px;
}

aside{

    h2{
        color: maroon;
    }

    a{
        color: steelblue;
    }

    a:hover, a:focus{
        color: maroon;
    }

    li{
        line-height: 1.5;
    }
}
