*{
    font-size: 18px;
    font-family: Helvetica;
    
}

img{
    float: left;
    margin-right:2em;
}

head{
    clear: left;
}

a {
 font-weight: bold;

}

h1{
    font-size: 64px;
    font-style:italic;
    color:steelblue;
}

h2{
    font-size:32px;
}

aside{
    a {
        font-weight: bold;
    }
}
